*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(1, 41, 48);
    color: rgb(255, 255, 255);
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    flex-wrap: wrap;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 3rem;
    margin-bottom: 20px;
}
.home-content h3{
    margin-bottom: 30px;
}
.home-content p{
    margin-bottom: 30px;
}
.home-content i{
    color: white;
    font-size: 25px;
}
.home-content a{
    text-decoration: none;
    transition: color 0.3s ease;
}
.home-content i:hover{
    color: #ccc;
}
.btn{
    margin-top: 30px;
    display: inline-block;
    padding: 12px 25px;
    background-color: rgb(0, 136, 170);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: rgb(1, 94, 125);
}
.home-img{
    max-width: 400px;
    flex: 1;
    display: flex;
    justify-content: center;
}
.home-img img{
    width: 85%;
    border-radius: 10px;
    box-shadow: 0 10px 25px black;
}
.services{
    text-align: center;
}
.services .heading{
    font-size: 3rem;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.service-box{
    background-color:  rgb(2, 64, 75);
    padding: 15px;
    border: 3px solid #000;
    border-radius: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.service-box i{
    font-size: 35px;
    margin-bottom: 15px;
}
.service-box h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.service-box p{
    color: #777777;
    font-size: 10;
}

.navbar {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 26, 37, 0.95) !important;
    border-bottom: 1px solid rgba(1, 47, 66, 0.95);
}

.navbar-brand {
    font-size: 1.5rem;
    color: rgb(255, 255, 255) !important;
    text-transform: uppercase;
}

.navbar-brand span {
    color: rgba(18, 115, 241, 0.852);
}

.nav-link {
    color: #ccc !important;
    font-weight: 500;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
    color: rgba(0, 192, 250, 0.432) !important;
}

.carousel-section{
    margin-top: 5rem;
}

.carousel-inner{
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgb black;
}
.carousel img{
  height: auto;
  width: 100%;
}

@media(max-width: 900px){
    .home{
        flex-direction: column-reverse;
        padding: 50px 5%;
        text-align: center;
    }
    .home-content{
        max-width: 100%;
    }
    .social-media{
        justify-content: center;
    }
    .home-img{
        margin-bottom: 30px;
    }
}
